<div
  class="h-[100dvh] w-full flex flex-col justify-evenly bg-black font-bold text-[#fff]"
>
  <div
    data-aos="fade-up"
    data-aos-duration="500"
    class="text-center text-xl mx-96"
  >
    {{ getTranslation("euComparison") }}
  </div>
  <div class="flex justify-center items-center">
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      class="w-2/5 px-8 text-lg font-normal flex flex-col gap-8"
    >
      {{ getTranslation("chartDescription") }}
      <div
        class="flex rounded-full mx-auto bg-gradient-to-tr from-pink-300 to-blue-400 p-1 shadow-lg hover:transform hover:to-pink-300 hover:from-blue-400 hover:scale-105 transition-transform"
      >
        <button
          class="flex-1 font-bold md:text-lg bg-black px-6 py-3 rounded-full"
          (click)="toggleExtendedData()"
        >
          {{
            displayExtendedData
              ? getTranslation("hideRegression")
              : getTranslation("showRegression")
          }}
        </button>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="w-2/5">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>
