<div id="globeViz"></div>
<h2
  class="absolute top-8 w-96 text-4xl bg-black text-white rounded-lg p-4 text-center"
>
  Gender Gap Index<br />{{ getTranslation("aroundTheWorld") }}
</h2>
<div class="absolute left-8 w-96 text-xl bg-black text-white rounded-lg p-4">
  <p>{{ getTranslation("globeDescription") }}</p>
</div>
<div
  class="absolute right-8 w-96 text-xl bg-black text-white rounded-lg p-4 text-right"
>
  <p>
    {{ getTranslation("indexDescription") }}
  </p>
</div>
<div
  class="absolute bottom-12 right-12 w-16 h-16 bg-black text-white rounded-full flex justify-center items-center cursor-pointer transition duration-200 ease-in-out hover:scale-105"
  (click)="scrollToTop()"
>
  <img src="../../assets/arrow-circle-up.svg" class="w-4/5" alt="arrow up" />
</div>
