<div
  class="h-[100dvh] w-full flex flex-col justify-center items-center font-bold text-[#fff]"
>
  <div>
    <div
      data-aos="fade-up"
      data-aos-delay="250"
      data-aos-duration="2000"
      class="relative top-[-20px] text-5xl text-center [text-shadow:_0_0_20px_rgb(0_0_0_/_100%)]"
    >
      Gender Equality Matters
    </div>
    <div
      data-aos="fade-up"
      data-aos-delay="1250"
      data-aos-duration="2000"
      class="text-2xl text-gray-300 text-center [text-shadow:_0_0_20px_rgb(0_0_0_/_100%)]"
    >
      In Austria
      <span class="text-pink-300">women</span> earn grossly
      <span
        class="text-red-400 font-extrabold"
        id="myTargetElement"
        [countUp]="0.0"
        [options]="options"
        >0.0%</span
      >
      less per hour than <span class="text-blue-400">men</span>.
    </div>
  </div>
</div>
