<div
  class="h-[100dvh] w-full flex flex-row-reverse justify-center items-center bg-black font-bold text-[#fff]"
>
  <div
    data-aos="fade-up"
    data-aos-duration="500"
    class="w-2/5 px-8 text-lg font-normal"
  >
    With a gender pay gap of 18.4%, Austria stands above the EU-27 average of
    12.7%. This statistic places Austria among the countries with higher gender
    pay disparities in the European Union.
  </div>
  <div data-aos="fade-up" data-aos-duration="1000 " class="w-2/5">
    <canvas id="barChart"></canvas>
  </div>
</div>
